<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :characteristic %><br />
    <%= f.text_area :characteristic %>
  </p>
  <p>
    <%= f.label :categoty %><br />
    <%= f.text_field :categoty %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :sale %><br />
    <%= f.text_field :sale %>
  </p>
  <p>
    <%= f.label :stock %><br />
    <%= f.text_field :stock %>
  </p>
  <p>
    <%= f.label :present %><br />
    <%= f.text_field :present %>
  </p>
  <p>
    <%= f.label :image1 %><br />
    <%= f.text_field :image1 %>
  </p>
  <p>
    <%= f.label :image2 %><br />
    <%= f.text_field :image2 %>
  </p>
  <p>
    <%= f.label :image3 %><br />
    <%= f.text_field :image3 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>