<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @product.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Characteristic:</b>
  <%=h @product.characteristic %>
</p>

<p>
  <b>Categoty:</b>
  <%=h @product.categoty %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Sale:</b>
  <%=h @product.sale %>
</p>

<p>
  <b>Stock:</b>
  <%=h @product.stock %>
</p>

<p>
  <b>Present:</b>
  <%=h @product.present %>
</p>

<p>
  <b>Image1:</b>
  <%=h @product.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%=h @product.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%=h @product.image3 %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>